.carousel-image {
  max-width: 400px;
  height: auto;
  border-radius: 8px;
}

.carousel-item-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel-caption h5 {
  font-size: 1.5rem;
  font-weight: bold;
}

.carousel-caption p {
  font-size: 1rem;
  color: #333;
}
